<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="board.A03_Dao">
	<!--public int totCnt(BoardSch sch)  -->
	<select id="totCnt" resultType="int" parameterType="boardsch">
		select count(*)
		from board b
		where 1=1
		and subject like '%'||#{subject}||'%'
		and writer like '%'||#{writer}||'%'
	</select>
	<select id="boardList" resultType="board"
		parameterType="boardsch">
		select *
		from (
			select rownum cnt, LEVEL, b.*
			from board b
			where 1=1
			and subject like '%'||#{subject}||'%'
			and writer like '%'||#{writer}||'%'
			START WITH refno=0
			CONNECT BY PRIOR NO=refno
			ORDER siblings BY NO desc)
		where cnt between #{start} and #{end}
	</select>
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board values(board_seq.nextval,
			#{refno}, #{subject},#{content},#{writer},
			0, sysdate, sysdate)			
	</insert>
	<!--public void uptBoardFile(BoardFile upt)  -->
	<update id="uptBoardFile" parameterType="boardfile">
		update boardfile
			set fname=#{fname},
				uptdate=sysdate
			where no = #{no}
	</update>
	<!-- 조회수 처리 -->	
	<update id="uptReadCnt" parameterType="int">
		UPDATE BOARD 
			SET READCNT = readcnt+1
	  	WHERE NO = #{no}				
	</update>	
	<select id="getBoard" resultType="board" parameterType="int">
		SELECT * FROM board
		WHERE NO = #{no}			
	</select>
	<insert id="insertUploadFile" parameterType="boardfile">
		insert into boardfile values(board_seq.currval, #{fname},#{etc},sysdate,sysdate)
	</insert>
	<select id="getBoardFile" resultType="string" parameterType="int">
		select fname
		from boardfile
		where no = #{no}
	</select>		
	<update id="updateBoard" parameterType="board">
				update board
				set content = #{content},
					subject = #{subject},
					uptdte = sysdate
				where no = #{no}
	</update>
		
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE NO=#{no}
	</delete>
	
	<select id="baseballList" resultType="BaseBallTeam">
		SELECT * FROM baseballteam
	</select>
	<insert id="insertBaseballTeam" parameterType="BaseBallTeam">
		INSERT INTO baseballteam VALUES(baseballteam_seq.nextval,
		#{teamname},#{ranking},#{hometown},#{player})
	</insert>
	
	<select id="BaseballTeamDetail" resultType="BaseBallTeam" parameterType="int">
		SELECT * FROM rentalInfo
		WHERE rentaltime = returntime
		AND returntime between '20230130' AND '20230208'
		AND id='himan'
	</select>

</mapper>
		