<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 1. 사용할(XXXMapper.xml) 패키지명 포함 vo클래스를 alias 선언 -->
	<typeAliases>
		<typeAlias alias="emp" type="springweb.z01_vo.Emp"/>
		<typeAlias alias="empinit" type="springweb.z01_vo.EmpInit"/>
		<typeAlias alias="dept" type="springweb.z01_vo.Dept"/>
		<typeAlias alias="code" type="springweb.z01_vo.Code"/>
		<typeAlias alias="salgrade" type="springweb.z01_vo.Salgrade"/>
		<typeAlias alias="member" type="springweb.z01_vo.Member"/>
		<typeAlias alias="filerep" type="springweb.z01_vo.FileRep"/>
		<typeAlias alias="fileexvo" type="springweb.z01_vo.FileExpVo"/>
	</typeAliases>
	<!-- 2. 사용 XXXMapper.xml을 추가(dao와 mapper 1:1) -->
	<mappers>
		<mapper resource="resource/A01_EmpMapper.xml"/>
		<mapper resource="resource/A02_DeptMapper.xml"/>
		<mapper resource="resource/A03_SalgradeMapper.xml"/>
		<mapper resource="resource/A03_MemberMapper.xml"/>
		<mapper resource="resource/fileMapper.xml"/>
	</mappers>

</configuration>
