@charset "UTF-8";

#HeaderBackground{
	  background-color: white !important;
}
#Memberfind_Wrap{
	display:flex;
	font-size:11px;
}
#Memberfind_Wrap button{
	border:none;
	background-color:white; 
 	margin-left:auto; 
  	font-weight:bold;
}

#MemberFindResult{
	/* border:1px solid gray; */
	/* border-radius:5px; */
}