<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	
	 <error-page>
	 	<error-code>404</error-code>
	 	<location>/a02_jsp/a05_error/z03_404Error.jsp</location>
	 </error-page>
	 
	 <error-page>
	 	<error-code>500</error-code>
	 	<location>/a02_jsp/a05_error/z01_errorPage.jsp</location>
	 </error-page>
	 
	  <error-page>
	 	<exception-type>java.lang.Exception</exception-type>
	 	<location>/a02_jsp/a05_error/z06_allException.jsp</location>
	 </error-page>

	 <error-page>
	 	<exception-type>java.lang.NullPointerException</exception-type>
	 	<location>/a02_jsp/a05_error/z04_nullException.jsp</location>
	 </error-page>
 
	 <error-page>
	 	<exception-type>java.lang.NumberFormatException</exception-type>
	 	<location>/a02_jsp/a05_error/z05_numberFormat.jsp</location>
	 </error-page>
 
  <context-param>
	  	<description>로깅 여부</description>
	  	<param-name>logEnagled</param-name>
	  	<param-value>true</param-value>
  </context-param>
  <context-param>
	  	<description>디버깅 레벨</description>
	  	<param-name>debugLevel</param-name>
	  	<param-value>5</param-value>
  </context-param>
  <context-param>
	  	<param-name>name</param-name>
	  	<param-value>홍길동</param-value>
  </context-param>
  <context-param>
	  	<param-name>age</param-name>
	  	<param-value>28</param-value>
  </context-param>
  <context-param>
	  	<param-name>loc</param-name>
	  	<param-value>인천</param-value>
  </context-param>
  
  <context-param>
	  	<param-name>DB address</param-name>
	  	<param-value>C:\a01_javaexp\workspace\jspexp</param-value>
  </context-param>
  <context-param>
	  	<param-name>port</param-name>
	  	<param-value>1521</param-value>
  </context-param>
  <context-param>
	  	<param-name>sid</param-name>
	  	<param-value>orcl</param-value>
  </context-param>
  <context-param>
	  	<param-name>id</param-name>
	  	<param-value>himan</param-value>
  </context-param>
  <context-param>
	  	<param-name>password</param-name>
	  	<param-value>1234</param-value>
  </context-param>
  
  <context-param>
	  	<param-name>ip2</param-name>
	  	<param-value>localhost</param-value>
  </context-param>
  <context-param>
	  	<param-name>port2</param-name>
	  	<param-value>1521</param-value>
  </context-param>
  <context-param>
	  	<param-name>sid2</param-name>
	  	<param-value>xe</param-value>
  </context-param>
  <context-param>
	  	<param-name>username2</param-name>
	  	<param-value>scott</param-value>
  </context-param>
  <context-param>
	  	<param-name>pass</param-name>
	  	<param-value>tiger</param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>