<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >   
<mapper namespace="a01_diexp.mybatis.dao.A02_ExpDao">
	<!-- 
	List<Salgrade> getSalgrade();
	 -->
	 <select id="getSalgrade" resultType="salgrade">
	 	SELECT * 
	 	FROM salgrade
	 </select>
   
</mapper>      
      