<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

    <mapper namespace="fleaMarket.a03_dao.CommunitySelectDao">
    <sql id="criteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
        <choose>
            <when test="type == 'T'.toString()">
            	title like '%'||#{keyword}||'%'
            </when>
            <when test="type == 'C'.toString()">
            	content like '%'||#{keyword}||'%'
            </when>
            <when test="type == 'W'.toString()">
            	nickname like '%'||#{keyword}||'%'
            </when>
        </choose>
	</trim>
</sql>
    <!-- 검색 포함  -->
    <select id = "getCommunityList" resultType = "capplicationList">
    <![CDATA[
      SELECT communitynumber,imgName,title,content,registDate,viewCnt,nickname FROM(
   
      SELECT ROWNUM AS rn,c.COMMUNITYNUMBER ,b.IMGNAME,c.TITLE ,c.CONTENT,c.REGISTDATE,c.VIEWCNT,m.NICKNAME FROM
      
      fleamarketmember m, CAPPLICAION c,BOARDIMG b
      
      WHERE m.EMAIL = c.EMAIL AND c.COMMUNITYNUMBER = b.COMMUNITYNUMBER 
      
      AND
      ]]>
      <include refid="criteria"></include>
		<![CDATA[
      ROWNUM <= #{pageNum} * #{amount}) 
      
      WHERE rn > (#{pageNum}-1)* ${amount} ORDER BY registDate desc,ROWNUM desc
    ]]>
    </select>
    <!-- 검색 포함 전체 조회  -->
    <select id = "getCommunitySelectNum" resultType = "int">
            select 
               count(*)
            from fleamarketmember m, CAPPLICAION c,BOARDIMG b
            where m.EMAIL = c.EMAIL AND c.COMMUNITYNUMBER = b.COMMUNITYNUMBER AND
            <include refid="criteria"></include>
            1=1
    </select>
    </mapper>