<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="fleaMarket.a03_dao.Req1001_Dao">
    	<select id="MemberList" resultType="Member"
		parameterType="Member">
		select *
		from FLEAMARKETMEMBER
		where nickname like '%'||#{nickname}||'%'	
		</select>
		<!-- 회원정보 수정! -->
		<update id="UpdateMemberInfo" parameterType="member">
			UPDATE FLEAMARKETMEMBER
			SET NICKNAME = #{nickname},
			PHONENUMBER = #{phonenumber},
			ADDRESS = #{address},
			category = #{category}
			where email = #{email}    
		</update>
		<!-- 회원정보(이미지) 수정 -->
		<update id="UpdateProfile" parameterType="profileimg">
			UPDATE PROFILE
			SET PROFILEIMG = #{profileimg}
			WHERE EMAIL = #{email}
		</update>
		<!-- 비번수정! -->
		<update id="UpdatePassword" parameterType="member">
			UPDATE FLEAMARKETMEMBER
			SET PASSWORD = #{password}
			WHERE EMAIL=#{email}
		</update>
		<!-- 회원정보 뽑아오기 여러가지 용도로 사용됨!! -->
		<select id="Login" parameterType="string" resultType="member">
    		SELECT f.*,p.PROFILEIMG as profileimgname FROM FLEAMARKETMEMBER f,PROFILE p
			WHERE f.EMAIL(+) = p.EMAIL
			AND f.email = #{email}
    	</select>
    	
    	<!-- 회원탈퇴 전 이미지삭제 -->
    	<delete id="DelelteProfile" parameterType="string">
    		DELETE PROFILE
    		WHERE EMAIL=#{email}
    	</delete>
    	<!-- 회원탈퇴  -->
    	<delete id="DelelteMember" parameterType="string">
    		DELETE FLEAMARKETMEMBER
    		WHERE EMAIL=#{email}
    	</delete>
    </mapper>
    
    