<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <!-- 
 // springweb.a05_mvc.a03_dao.A01_EmpDao
 // public List<Emp> getEmpList(Emp sch)
 
 인터페이스를 상속받은 실체 Dao객체를 위 규칙에 생성하는 xml파일
  -->
<mapper namespace="springweb.a05_mvc.a03_dao.A01_EmpDao">
	<select id="getEmpList" resultType="emp" parameterType="emp">
		SELECT * FROM emp100
		WHERE ename LIKE '%'||#{ename}||'%'
		AND job LIKE '%'||#{job}||'%'
	</select>
</mapper>